label {
  color: #ff0035;
  margin: 25px;
  border: 1px solid #8b939c;
  padding: 3px;
  border-radius: 5px;
}

.appname {
  color: #ff0035;
}

.methodradio {
  display: flex;
}

.submitbutton {
  margin: 25px;
  display: block;
  background: #ff0035;
  padding: 8px;
  border-radius: 5px;
}

.radiobutton {
  cursor: pointer;
}
